.resume {
    height: 100%;
  }
  
  .timeline {
    display: flex;
    width: 100%;
    padding: 20px;
  
    &__experience,
    &__education {
      width: 50%;
      gap: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      &__header-text {
        display: inline-block;
        color: var(--yellow-theme-sub-text-color);
        font-size: 22px;
        font-weight: 700;
        line-height: 1rem;
        letter-spacing: 0.5px;
        position: relative;
        text-transform: uppercase;
        padding: 5px 10px;
        border-bottom: 2px solid var(--yellow-theme-main-color);
      }
  
      .skills-list {
        display: flex;
        flex-wrap: wrap;
  
        .skill {
          font-family: "Montserrat", sans-serif; 
          font-size: 16px; 
          margin: 4px; 
        }
      }

      .vertical-timeline-element-title-wrapper {
        h3 {
          font-family: "Open Sans", sans-serif; 
          font-size: 24px; 
          color: #c2ab2a; 
          
        }
  
        h4 {
          font-family: "Poppins", sans-serif; 
          font-size: 20px; 
          color: #555; 
          
        }
      }
  
      .vertical-timeline-element-title-wrapper-description {
        font-family: "Montserrat", sans-serif;
        font-size: 18px; 
    
      }
  
      .vertical-timeline-element-content {
        box-shadow: none;
      }
  
      .vertical-timeline-element-content-arrow {
        display: none;
      }
  
      .vertical-timeline-element-content-date {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        color: #ac2020;
        
      }
    }
  }
  
  @media only screen and (max-width: 768px) {
    .timeline {
      flex-direction: column;
      &__experience,
      &__education {
        width: 100%;
        gap: 2rem;
      }
    }
  }
  